/* This is an example of using Sass, otherwise plain CSS works too*/
* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #35477D;
  margin: 0;
}

header {
  background-color: #C06C84;
  height: 80px;
  padding-top: 20px;
  text-align: center;
}

main {
  height: 90vh;
}

h1 {
  color: #35477D;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  margin: 0;
}



.gameboard {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  'player1 game category'
  'player2 game clue'
  'player3 game answer';
  height: 100%;
}

.player1 {
  grid-area: player1;
}

.player2 {
  grid-area: player2;
}

.player3 {

  grid-area: player3;
}

.game-card-section {
  grid-area: game;
}

.category-points {
  grid-area: category;
}

.clue-question {
  grid-area: clue;
}

.guess-input {
  grid-area: answer;
}

.sidebar {
  background-color: #6C5B7B;
  text-align: center;
}
