/* This is an example of using Sass, otherwise plain CSS works too*/
* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #35477D;
}

h1 {
  background-color: #C06C84;
  font-family: 'Montserrat', sans-serif;
}