
* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-image: url('../images/underwater.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #35477D;
  margin: 0;
}

header {
  background-color: #1F2E58;
  height: 70px;
  padding-top: 10px;
  text-align: center;
}

main {
  height: 90vh;
  margin-bottom: 10px;
}

h1 {
  color: white;
  background: url('../images/underwater-light.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
}

h4 {
  color: #F67280;
  font-size: 25px;
  margin: 10px;
}

p {
  margin: 0;
}

.score {
  color: #F67280;
  font-size: 50px;
  margin: 10px;
}

.game-board {
  display: none;
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  'players categories selected'
  'players clues selected';
  height: 100%;
}

.clue-cards {
  display: grid;
  grid-area: clues;
  grid-column-gap: 5%;
  grid-template-areas:
  "100 100 100 100"
  "200 200 200 200"
  "300 300 300 300"
  "400 400 400 400";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  width: 90%;
}

.value100 {
  grid-area: 100;
}

.value200 {
  grid-area: 200;
}

.value300 {
  grid-area: 300;
}

.value400 {
  grid-area: 400;
}

.players {
  grid-area: players;
  height: 500px;
  padding: 10px;
}

.selected-clue-info {
  grid-area: selected;
  height: 500px;
  padding: 15px;
}

.player1 {
  padding-top: 20px;
}

.player1,
.player2 {
  padding-bottom: 20px;
  border-bottom: solid 2px #35477D;
}

.player2,
.player3 {
  padding-top: 20px;
}

.game-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: categories;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.category-points,
.selected-clue-question {
  border-bottom: solid 2px #35477D;
}

.selected-clue-question,
.guess-input {
  padding-top: 20px;
}

.sidebar {
  background: rgba(212,229,255,0.9);
  margin: 20px 20px 0px 20px;
  padding-top: 20px;
  text-align: center;
}

.question {
  font-size: 20px;
  padding: 20px;
}

.player-guess {
  border: 0;
  height: 30px;
  margin-bottom: 10px;
  width: 80%;
}

.submit-guess {
  border: 0;
  border-radius: 3%;
  cursor: pointer;
  font-size: 10pt;
  font-weight: bold;
  height: 25px;
  padding-top: 5px;
  width: 60%;
}

.submit-guess:hover {
  background-color: #F67280;
}

.clue-categories {
  align-items: center;
  background: rgba(212,229,255,0.9);
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 15px 15px 0px 15px;
  padding: 2px;
  width: 20%;
}

.clue-points {
  align-items: center;
  background: rgba(246,114,128,0.9);
  color: white;
  display: flex;
  font-size: 40px;
  font-weight: bold;
  height: 100px;
  justify-content: center;
  margin-top: 15px;
}

.selected-clue-category {
  font-size: 35px;
}

.selected-clue-question {
  font-size: 60px;
}

#active {
  cursor: pointer;
}

.game-rules {
  display: none;
}

.error {
  display: none;
}

// instructions

.instructional-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions-section {
  width: 60%;
  height: 70%;
  text-align: center;
}

.instruction-heading-container {
  font-size: 2em;
  font-weight: 700;
}

.instructions-article {
  font-size: 1.3em;
  justify-content: space-around;
}

.instructions-list {
  list-style: none;
}

.play-button {
  width: 70%;
  height: 8%;
  border-radius: 5px;
  font-size: 1.3em;
  margin-top: 5%;
}
